<div class="col-xs-12 ibuy-social-widgets" id="social">
    <h2>Social bites</h2>
    <div class="col-xs-6">
        <a class="twitter-timeline" href="https://twitter.com/despos?ref_src=twsrc%5Etfw">Tweets by despos</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-xs-6">
        <a class="twitter-timeline" href="https://twitter.com/andysal74?ref_src=twsrc%5Etfw">Tweets by andysal74</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    
    <a class="btn btn-default pull-right" href="#top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
</div>
