@page
@model IBuyStuff.Server.Pages.FakePaymentModel
@{
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Fake Bank : Payment Gateway</title>
    <script src="~/Bundles/Core"></script>
</head>
<script>
    $(document).ready(function() {
        console.log('ready');
        var transactionId = getFakeTransactionId();
        var baseUrl = "@Url.Content("~/")";
        var returnUrl = baseUrl + "order/endcheckout?tid=" + transactionId;
        $('#returnLink').attr('href', returnUrl);
        setTimeout(doneWithPayment, 3000, returnUrl);
    });
    function doneWithPayment(returnUrl) {
        window.location.href = returnUrl;
    }
    function getFakeTransactionId() {
        var transaction = "000";
        for (var i = 0; i < 12; i++) {
            transaction += Math.floor((Math.random() * 10) + 1);
        }
        return transaction;
    }
</script>
<body>
    <h1>Welcome to FAKE-BANK</h1>
    <hr />
    <form id="form1">
        <div style="text-align: center;">
            <h3>We're taking <b>a bit of money</b> out of your pocket ... </h3>
            <p>
                Don't worry about your sensitive data. We're using HTTPS here not to
                make your heart bleeding :)
            </p>
            <p>
                If the browser does not redirect, please <a id="returnLink" href="">click here</a>.
            </p>

            <img alt="" src="@Url.Content("~/Content/Images/Main/processing.gif")" />
        </div>
    </form>
</body>
</html>